/*header section */
.header-text{
    text-align: center;
    
    color:#FFFFFF;
    margin: 100px;
    
    background-image: url(images/Banner\ Image.png) ;
    background-color: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.151) 100%);

    
    padding: 15%;
    background-size: cover;
    height: 100%;
    margin: 0%;
    background-position: 10%;
    max-width: 1140px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10.729px;
    
font-family: Merriweather;
font-size: 20px;

font-weight: 900;
 
}
.back-color{
    

}
/*main 1*/

.main1{
    text-align: center;
    margin-top: 50px;

}
.color-lines{
    
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 18px;
font-weight: 700;
}
.main1-img{
    margin-top: 70px ;
    text-align: center;
    
/* main 2 */
}
.main2{
    background-image: url(images/Vectorrr.png) ;
    filter: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-repeat: no-repeat;
    
    background-size: cover; 

    padding: 15%;
    background-size: cover;
    height: 100%;
    margin: 0%;
    background-position: 10%;
    max-width: 1140px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10.729px;
    margin: 100px;
    
}
.bold{
    color: #FFF;
font-family: Merriweather;
font-size: 40px;

font-weight: 900;

letter-spacing: 7.04px;

}
.bold2{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;

font-weight: 400;
line-height: 30px; 
}
/*main 3 */
.red{
    color: #F00;

}
.button2{
    background-color: #F00;
    border-radius: 5px;
    width: 100px;
    height: 45px;
    border: 0;
    color: aliceblue;

}
.main3{
    margin-top: 70px;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 15%;
    background-size: cover;
    height: 100%;
    margin: 0%;
    background-position: 10%;
    max-width: 1140px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10.729px;
    
    
}
.main4-img{
    border-radius: 700px;
border: 10px solid #F00  ;
width: 400px;
height: 400px;
flex-shrink: 0;
 
}
.round-img{
 width:353px;
 height:353px;
 text-align: center;
 border-radius: 600px;
 padding: 5%;

}
.bold3{
    color: #8b8989;
}
.main4{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin-left: 5%;
    margin-right: 5%;
}
.hny{
    max-width: 1140px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: right;
    
}


/* main 5 */
 .holiday{
font-family: Merriweather;
font-size: 40px;

font-weight: 900;

 }
 .main5{
    text-align: center;
    margin-top: 10%;
 }
 .rec{
    text-align: right;
    max-width: 1140px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    
}
.img{
    width: 300px;
    height: 300px;
}
.red-border{
    max-width: 1140px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}