/*header section */
.header{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(images/Banner\ Image.png);
    background-size: cover;
    background-position: 50%;
    margin-left: 5%;
        margin-right: 5%;
        border-radius: 10.729px;
        max-width: 1140px;
    }
    .overlay{
        
        width: 100%;
        height: 100%;
        font-size: 26px;
        color: white;
        text-align: center;
         background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 10.729px;
        
    }
    
/*main 1*/

.main1{
    text-align: center;
    margin-top: 50px;

}
.color-lines{
    
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 18px;
font-weight: 700;
}
.main1-img{
    margin-top: 70px ;
    text-align: center;
    
/* main 2 */
}
.main2{
    background-image: url(images/Vectorrr.png) ;
    width: 100vw;
    height: 100vh;
    position: relative;
    
    background-size: cover;
    background-position: 50%;
    margin-left: 5%;
        margin-right: 5%;
        border-radius: 10.729px;
        max-width: 1140px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.main2-text{
    width: 100%;
        height: 100%;
        font-size: 26px;
        color: white;
        display: flex;
        border-radius:10.729px;
         background-color: rgba(0, 0, 0, 0.5);
       text-align: left;      
}
.Group{
    padding: 40px;
    margin: 30px;
    


    
}

.padding{
    padding: 130px;
    
}

.bold{
    color: #FFF;
font-family: Merriweather;
font-size: 40px;

font-weight: 900;

letter-spacing: 7.04px;

}
.bold2{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;

font-weight: 400;
line-height: 30px; 
}

.button0{
    color: rgb(180, 182, 182);
}




/*main 3 */
.red{
    color: #F00;

}
.button2{
    background-color: #F00;
    border-radius: 5px;
    width: 100px;
    height: 45px;
    border: 0;
    color: aliceblue;

}
.main3{
    margin-top: 70px;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 15%;
    background-size: cover;
    height: 80%;
    margin: 0%;
    background-position: 10%;
    max-width: 1120px;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 10.729px;
    
    
}
.main4-img{
    border-radius: 700px;
border: 10px solid #F00  ;
width: 400px;
height: 400px;
flex-shrink: 0;
 
}
.round-img{
 width:353px;
 height:353px;
 text-align: center;
 border-radius: 600px;
 padding: 5%;

}
.bold3{
    color: #8b8989;
}
.main4{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin-left: 5%;
    margin-right: 5%;
}
.hny{
    max-width: 1140px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: right;
    
}


/* main 5 */
 .holiday{
font-family: Merriweather;
font-size: 40px;

font-weight: 900;

 }
 .main5{
    text-align: center;
    margin-top: 10%;
 }
 /* main6 */
 .rec{
    text-align: right;
    max-width: 1140px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    position: relative;
   
    
}

.img{
    width: 300px;
    height: 300px;
    
}
.red-border{
    
    max-width: 1140px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.text{
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
}
.imgs{
    width: 375px;
    height: 375px;
    
}
.round0{

    position: absolute;
    left: 650px;
    top: 10px
}
.box{
    position:relative;
    
}
.box-style{
    position: absolute;
    
    left: 100px;
    top: -300px;
    
    padding: 60px;
    margin: 20px;
    width: 450px ;
    height: 400px ;


}



R{
    gap: 5px,20px;
    display: flex;
    
}

/* main 7 */

.img-rec{
    max-width: 1140px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}
.email{
    text-align: center;
    
    background: #FF00000D;

    padding: 5%;
    background-size: cover;
    height: 100%;
    margin: 0%;
    background-position: 10%;
    max-width: 1140px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10.729px;
    margin-top: 60px;
    
    

   
.Subscribe{
    background-color: #F00;
    border-top-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius:25px ;
    width: 95px;
    height: 45px;
    border: 0;
    color: aliceblue;
}
.gmail{
    background-color: white;
    border-top-right-radius: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius:25px ;
    width: 300px;
    height: 45px;
    border: 0;
    color: rgb(175, 180, 184);
    text-align: left;
    
}

}

/*footer section */
.flex{

    justify-content: space-around;
       padding: 30px 50px;
       background: rgb(32, 31, 31);
       padding: 30px 230px;
       margin-top: 100px;
       gap: 10px;
       height: auto;
       color: #ede6e6;
       
       
   }
   .lines{
     display: flex;
     justify-content: space-between;
   }
   
   
   .icon{
       text-align: center;
   }
   .un{
       color: #ede6e6;
       
   font-family: Inter;
   text-align: right;
   }
   .call{
       display: flex;
   }
   .web{
       display: flex;
   }
   .call-web{
       text-align: right;
   }